<section class="intro">
    <h1><b>Kom nemt igang</b> med dit fermenteringsprojekt.<br> Find folk der <b>deler/sælger ud af deres starterkultur.</b></h1>

    <div class="filter">
        <span>
            Jeg leder efter
        </span>
        <div class="fermentation-starter">
            <span>
              <input type="radio" id="scoby" name="starter" value="scoby" checked="checked">
              <label for="scoby">Scoby</label>
            </span>
            <span>
              <input type="radio" id="vandkefir" name="starter" value="vandkefir">
              <label for="vandkefir">Vandkefir</label>
            </span>
            <span>
              <input type="radio" id="mælkekefir" name="starter" value="mælkekefir">
              <label for="mælkekefir">Mælkekefir</label>
            </span>
            <span>
              <input type="radio" id="surdej" name="starter" value="surdej">
              <label for="surdej">Surdej</label>
            </span>
            <span>
              <input type="radio" id="tempe" name="starter" value="tempe">
              <label for="tempe">Tempeh</label>
            </span>
        </div>

        <div class="area">
            <span>
                I nærheden af byen
            </span>
            <input placeholder="Indtast by fx. Silkeborg">
            <button>Find starter</button>
        </div>
    </span>
</section>

<section class="content">
    <ul></ul>
</section>

<aside>
    <div class="modal">
        <button>
            x
        </button>
        <h1>Kontakt</h1>
        <span><span class="name"></span> kan kontaktes på: <span class="contact"></span></span>
        <button>
            Luk
        </button>
    </div>
</aside>